* {
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

body {
    background-color: #f7f7f7;
}

#cabecera {
    width: 100%;
}

#logo {
    padding-top: 15px;
    text-align: center;
}

#logo img {
    height: 100px;
    width: 100PX;
}

#cabecera h1 {
    text-align: center;
    padding-top: 20px;
    text-shadow: 5px 5px 2px black;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    height: 100px;
}

#cabecera h1 a {
    color: #F4D03F;
    text-decoration: none;
}

#cabecera h1 a:hover {
    color: #F4D03F;
}

nav {
    margin-top: 30px;
}

nav ul li {
    padding: 0px 15px;
    border-right: 1px solid white;
}

#menu ul li:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

#menu ul li a:hover {
    color: #F4D03F;
}

.contenedor {
    height: 100vh;
}

#titulo {
    text-align: center;
    margin-top: 20px;
}

.cont-grande {
    float: left;
    width: 90%;
    margin: 5%;
}

.asesos {
    float: left;
    width: 25%;
    height: 400px;
    margin: 25px 4%;
    border: 4px solid black;
    text-align: center;
    color: black;
    background: #F4D03F;
    border-radius: 3em;
}

.asesos h2 {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

.asesos ul {
    list-style: none;
}

#pie {
    margin-top: 40px;
    height: 40px;
    background-color: #333;
    clear: left;
}

#pie p {
    line-height: 40px;
    font-size: 10px;
    color: white;
    margin-left: 25px;
}

@media(max-width: 850px) {
    .asesos {
        margin: 0px 15%;
        margin-bottom: 30px;
        width: 70%;
        border-radius: 2em;
    }
}

@media (max-width: 992px) {
    nav ul li {
        border-right: none;
        border-bottom: 1px solid white;
    }
    #menu ul li a:hover {
        color: #F4D03F;
    }
}