* {
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

body {
    background-color: #f7f7f7;
}

#cabecera {
    width: 100%;
}

#logo {
    padding-top: 15px;
    text-align: center;
}

#logo img {
    height: 100px;
    width: 100PX;
}

#cabecera h1 {
    text-align: center;
    padding-top: 20px;
    text-shadow: 5px 5px 2px black;
    font-size: 60px;
    text-transform: uppercase;
}

#cabecera h1 a {
    color: #F4D03F;
    text-decoration: none;
}

#cabecera h1 a:hover {
    color: #F4D03F;
}

#menu {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 60px;
    background-color: #333;
}

#menu ul {
    list-style: none;
    display: inline-block;
    line-height: 60px;
}

#menu ul li {
    float: left;
    padding: 0px 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu ul li:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
}

#menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

#menu ul li a:hover {
    color: #F4D03F;
}

#mensaje h1 {
    text-align: center;
    margin-top: 30px;
}

#formulario {
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 350px;
}

#formulario ul {
    list-style: none;
}

#formulario ul li {
    padding: 8px;
}

#formulario label {
    font-weight: bold;
    font-size: 20px;
}

#formulario #boton {
    padding: 8px;
    text-align: center;
}

#formulario #boton input {
    font-size: 20px;
    font-weight: bold;
}

#pie {
    margin-top: 40px;
    height: 40px;
    background-color: #333;
    clear: left;
}

#pie p {
    line-height: 40px;
    font-size: 10px;
    color: white;
    margin-left: 25px;
}