* {
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

body {
    background-color: #f7f7f7;
}

#cabecera {
    width: 100%;
}

#logo {
    padding-top: 15px;
    text-align: center;
}

#logo img {
    height: 100px;
    width: 100PX;
}

#cabecera h1 {
    text-align: center;
    padding-top: 20px;
    text-shadow: 5px 5px 2px black;
    font-size: 60px;
    text-transform: uppercase;
}

#cabecera h1 a {
    color: #F4D03F;
    text-decoration: none;
}

#cabecera h1 a:hover {
    color: #F4D03F;
}

#menu {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 60px;
    background-color: #333;
}

#menu ul {
    list-style: none;
    display: inline-block;
    line-height: 60px;
}

#menu ul li {
    float: left;
    padding: 0px 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu ul li:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
}

#menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

#menu ul li a:hover {
    color: #F4D03F;
}

#mision {
    width: 100%;
}

.titulo {
    margin-top: 60px;
    margin-left: 350px;
}

.mensaje {
    width: 400px;
    margin-left: 200px;
    margin-top: 10px;
    float: left;
}

#mision #img img {
    margin-left: 350px;
}

#acerca .titulo {
    clear: left;
    margin-top: 100px;
    float: right;
    margin-right: 450px;
}

#acerca .mensaje {
    margin-bottom: 60px
}

#acerca img {
    clear: right;
    margin-left: 200px;
    margin-top: 20px;
    float: left;
}

#pie {
    margin-top: 40px;
    height: 40px;
    background-color: #333;
    clear: left;
}

#pie p {
    line-height: 40px;
    font-size: 10px;
    color: white;
    margin-left: 25px;
}


/** esto va aparte */

.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
}